/* PT Sans Narrow */
@font-face {
	font-family:'PT Sans Narrow';
	src:url(../fonts/PTSans.Narrow.woff) format('woff'),
		url(../fonts/PTSans.Narrow.ttf) format('truetype'),
		url(../fonts/PTSans.Narrow.svg#PTSans-Narrow) format('svg');
	}
@font-face {
	font-family:'PT Sans Narrow';
	font-weight:bold;
	src:url(../fonts/PTSans.Narrow.Bold.woff) format('woff'),
		url(../fonts/PTSans.Narrow.Bold.ttf) format('truetype'),
		url(../fonts/PTSans.Narrow.Bold.svg#PTSans-NarrowBold) format('svg');
	}